/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

a{
    cursor: pointer;
}

.font-bebasNeue {
    font-family: 'Bebas Neue', cursive;
}
.font-bigShoulders {
    font-family: 'Big Shoulders Display', cursive;
}
.fs-9{
  font-size: 9pt;
}
.fs-10{
  font-size: 10pt;
}
.fs-14{
    font-size: 14pt;
}
.fs-15{
  font-size: 15pt;
}
.fs-16{
    font-size: 16pt;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  /* identical to box height */
  
  letter-spacing: 0.05em;
  
  color: #FFFFFF;
}
.fs-32 {
    font-size: 32px;
}

/*EfeitoHamburguer*/
label img .logo{
  color: white;
  font-size: 35px;
  line-height: 70px;
  padding: 0 100px;
  font-weight: bold;
}

.menuUL{
  float: right;
}

.menuLI{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

.menuLIA{
  color: white;
  font-size: 30px;
  padding: 7px 35px;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 50px;
}

a.active,a:hover{
  border-radius: 30%;
  transition: 0.7s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.logo{
    margin-left: 30px;
    margin-top: 2px;
}

#check{
  display: none;
}

@media (max-width: 1075px){
  .checkbtn{
    display: block;
  }
  .menuUL{
    position: fixed;
    width: 100%;
    height: 200vh;
    background: #007fe6e3;
    top: 0px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .menuLI{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .menuLIA{
    font-size: 45px;
    margin: 50px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.box {
    position: relative;
    max-width: 530px;
    padding: 15px;
    background-color: #0067c791;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5); 
    align-items: flex-end;
}

.box p{
    margin: 0 0 19px;
    padding: 0;
    font-size: 40px;
    color: #044463;
}
.ds-font{
    text-align: left;
}
h6{
    font-size: 25px;
}
 
 footer{
  background-color: #B0D9FF;
}

.fa-instagram{
  color: #ffffff;
}
.fa-instagram:hover{
 color: #e946b5;
}

.fa-facebook-square{
  color: #ffff;
}
.fa-facebook-square:hover{
 color: #1371FF;
}

.bg-footer-preto{
  background-color: #0b223d;
}
.color-fonte{
  color: #2967a0;
}

.color-copy{
  color: gray;
}
input{
  background-color: transparent;
  outline: none;
  border-radius: 10px;

}

.wrapper{
height: 60px;
width: 400px;
display: flex;
text-align: center;
}

.wrapper .btn-1{
height: 100%;
width: 50%;
color: #fff;
background: #004C93;
line-height: 60px;
font-size: 27px;
font-weight: 500;
border-radius: 5px;
user-select: none;
cursor: pointer;
box-shadow: 5px 5px 30px rgba(0,0,0,.2);
transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .btn-1:active{
transform: scale(0.9);
}
#click:checked ~ .btn-1{
height: 0px;
width: 0px;
opacity: 0;
}
.wrapper .field{
height: 100%;
width: 0%;
opacity: 0;
pointer-events: none;
position: relative;
transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .field{
width: 100%;
opacity: 1;
pointer-events: auto;
}
.wrapper .field input{
height: 100%;
width: 100%;
border: 2px solid #fff;
border-radius: 5px;
padding: 0 130px 0 15px;
font-size: 20px;
outline: none;
box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}
.wrapper .field input::placeholder{
color: #004C93;
font-size: 25px;
}
.wrapper .field .btn-2{
position: absolute;
top: 50%;
right: 15px;
transform: translateY(-50%);
font-size: 25px;
color: #fff;
line-height: 40px;
background: #004C93;
height: 40px;
width: 100px;
user-select: none;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
}
.wrapper .field .btn-2:active{
transform: translateY(-50%) scale(0.9);
}
.wrapper #click{
display: none;
}

@media (max-width: 768px) {
.wrapper .field .btn-2 {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    background: #004C93;
    height: 40px;
    width: 90px;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.wrapper .field input {
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
    padding: 0px 100px 0px 15px;
}
.wrapper .btn-1 {
    height: 100%;
    width: 30%;
    color: #fff;
    background: #004C93;
    line-height: 60px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
}
