<div class="col-md-12 img-fluid" id="img-bg">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 mt-5 mb-4">
                <div class="row justify-content-center mt-4">

                    <div class="col-md-6 mt-1 rounded bg-color">

                        <h1 class="text-center text-white mt-3">Cadastro</h1>

                    <div class="form-group text-white fs-12">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                    </div>

                    <div class="form-group text-white fs-12">
                        <label for="email">E-mail</label>
                        <input [(ngModel)]='user.email' class="form-control" type="email" name="email" id="email" placeholder="Seu usuário">
                    </div>

                    <div class="form-group text-white fs-12">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)'  class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="form-group text-white fs-12">
                        <label for="confirmSenha">Confirmar senha</label>
                        <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-outline-danger mr-4" routerLink='/login'>Cancelar 
                        </button>

                        <button type="submit" class="btn btn-outline-success" (click)='cadastrar()'>Cadastrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>