<!--Carrosel-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner d-flex align-items-end">
    <div class="carousel-item active">
      <img src="" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!--/Carrosel-->
<div class="container-fluid bg-form">
  

<div class="container mt-5">
<div class="row mt-5">
    <div class="col-md-12 mt-5">
      <h4 class="text-center text-white fonte font-bigShoulders fs-32 mt-5">
          <b>
        Entre em contato com a gente
         </b>
      </h4>
    </div>
  </div>
</div>

  <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="col-md-10 mb-5">

            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1" class="text-white">Assunto</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>O que é a Dagle?</option>
                  <option>Cadastro de produtos</option>
                  <option>Logins por empresa</option>
                  <option>Administradores</option>
                  <option>Planos e preços</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1" class="text-white">Endereço de e-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1" class="text-white">Nome completo</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-white">Mensagem</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
          </div>
        
      </div>
  </div>
</div>