/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display&display=swap');

a{
    cursor: pointer;
}

.font-bebasNeue {
    font-family: 'Bebas Neue', cursive;
}
.font-bigShoulders {
    font-family: 'Big Shoulders Display', cursive;
}
.fs-12{
    font-size: 12pt;
}
.fs-14{
    font-size: 14pt;
}
.fs-32 {
    font-size: 32px;
}
.fs-25{
    font-size: 25px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
}