<!--Carrosel-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-flex align-items-end">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/ndKCC8X.png" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
<!--/Carrosel-->
<div class="container-fluid font-bigShoulders">
    <div class="row">
        <div class="col-md-12">
            <div class="row d-flex justify-content-center bg-faixa ds-fonte-2">
                <div class="col-md-9 d-flex justify-content-center mt-1 mb-3">
                    <h3 class="fs-32 mt-4 bg-faixa">- Para que um sistema de gestão tenha sucesso, é importante a integração dos processos aliada à tecnologia,
                    o apoio do suporte, o treinamento e, principalmente, o envolvimento e dedicação de toda a equipe da empresa.</h3>
                </div>
            </div>
        </div>

        
        <div class="sobreposicao">
            <img src="https://imageshack.com/i/poe4XesLg" class="img-fluid"/>
        </div>


    </div>
</div>


<div class="container-fluid font-bigShoulders fs-32">
    <div class="row fs-32 bg-parallax">
        <div class="col-md-7 ds-fonte d-flex justify-content-center">
            <div class="col-md-10 mt-4">
                <img class="log-grafic img-fluid m-auto d-block" src="https://i.imgur.com/RF4NI2b.png" alt="imagem de gráfico">
                <h1 class="text-center mt-5">DAGLE</h1>
                <p>Com metas e expectativas definidas, sua equipe de vendas está preparada
                     para fechar negócios que se alinham ao crescimento da sua empresa. 
                     E se a sua estratégia de crescimento está focada em novos mercados ou 
                     upselling para uma base de clientes existente, nossa plataforma de 
                     gerenciamento é desenhada para enfrentar esses desafios.
                </p>
                <h5 class="text-center ds-fonte">• Fortaleça o crescimento estratégico.</h5>
                <h5 class="text-center ds-fonte">• Aumente a produtividade de vendas.</h5> 
                <h5 class="text-center ds-fonte">• Ganhe e cresça com seus clientes.</h5>
            </div>
        </div>
        <div class="col-md-5 parallax">
            <div><img src="" alt="" class="img-fluid"></div>
        </div>        
    </div>
</div>