
<!--rodape-->
<footer class="page-footer font-small">


    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
  
          <div class="row d-flex justify-content-center">
            <h4 class=" text-white font-weight-bold fs-25 mt-4">NEWSLETTER</h4>
          </div>
          <div class="row d-flex justify-content-center mb-1">
            <h6 class="fs-10 color-fonte">Não perca nenhuma novidade.</h6>
          </div>
  
        </div>
  
        <div class="col-md-5">
          <div class="container-fluid wrapper d-flex justify-content-center font-bigShoulders mb-4">
            <input type="checkbox" id="click">
            <label class="btn-1 font-weight-bold" for="click">Participar</label>
            <div class="field">
              <input type="text" placeholder="Endereço de E-mail">
              <label (click)='participar()' for="click" class="btn-2">Enviar</label>
            </div>
          </div>
  
        </div>
  
  
      </div>
    </div>
    <img src="https://imageshack.com/i/pmfqMs5fp" class="img-fluid" alt="Rodape Dagle">
  
  
    <div class="container-fluid bg-footer-preto">
  
      <!--face https://i.imgur.com/caPr6na.png-->
      <!--insta https://i.imgur.com/gPIvyEk.png-->
      <!--logo https://i.imgur.com/rfY4LHG.png-->
  
  
      <div class="d-flex justify-content-center">
        <a href="https://www.facebook.com/dagle.gestao/?_rdc=1&_rdr" target="_blank">
          <i class="img-fluid mb-4 mr-4 mt-5 fa fa-facebook-square fa-3x" aria-hidden="true"></i>
        </a>
  
        <a href="https://www.instagram.com/daglegestao/" target="_blank">
          <i class="img-fluid mb-4 mt-5 fa fa-instagram fa-3x" aria-hidden="true"></i>
        </a>
  
      </div>
  
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h5 class="text-white fs-10">Privacy Policy &nbsp; • &nbsp; Terms of Use &nbsp; • &nbsp; SiteMap</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="footer-copyright text-center py-3 fs-9 mb-4">
          <span class="color-copy"> © Copyright 2020-2021 Copyright.com.br - All Rights Reserved Dagle </span>
        </div>
      </div>
    </div>
  
  </footer>
  
  <!--/rodape-->