#img-bg{ 
    
    background-image: url('https://imageshack.com/i/pmENmA5kp');

    min-height: 800px;

    background-repeat: no-repeat;
    background-size: cover;

}

.bg-color{
    background-color: black;
    opacity: 90%;
}
