<div class="col-md-12 img-fluid" id="img-bg">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 mt-5">
                <div class="row justify-content-center mt-4">

                    <div class="col-md-5 bg-color mt-4 rounded">

                        <h1 class="text-center mt-3 mb-3 text-white">Login</h1>

                        <div class="form-group text-white">
                            <label for="email">E-mail</label>
                            <input [(ngModel)]='userLogin.email' class="form-control" type="email" name="email" id="email"
                                placeholder="Seu E-mail">
                        </div>

                        <div class="form-group text-white">
                            <label for="senha">Senha</label>
                            <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                        </div>

                        <hr class="mt-2 mb-2">

                        <div class="row d-flex mb-3">
                            <div>
                                <p class="p-4 bd-highlight text-white">Não tem uma conta? <a
                                        routerLink='/cadastrar'>Cadastre-se</a></p>
                            </div>

                            <div class="ml-auto p-4 bd-highlight">
                                <button type="submit" class="btn btn-outline-primary" (click)='entrar()'>Entrar</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>