#img-bg{ 
    
    background-image: url('https://imageshack.com/i/poMPOdzpp');

    min-height: 690px;

    background-repeat: no-repeat;
    background-size: cover;

}

.bg-color{
    background-color: #001E4B;
    opacity: 95%;
}
