<div class="container mt-5">
<div class="row mb-5">
    <div class="col-md-12">
      <h4 class="text-center fonte">
          <b>
        Entre em contato com a gente
         </b>
      </h4>
    </div>
  </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1" class="fonte">Nome Completo</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome  Completo">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="fonte">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@exemplo.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="fonte">Assunto</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Assunto tratado."></textarea>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <button class="btn btn-outline-primary w-100 fonte">Enviar</button>
                  </div>
              </form>
        </div>
      
    </div>
</div>
