<!--Carrosel-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-flex align-items-end">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/2ZOXzwY.png" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
<!--/Carrosel-->

<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar produto</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <form>
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Nome do Produto:</label>
                <input [(ngModel)]='produto.nome' type="text" class="form-control" name="nome" id="nome"
                    placeholder="Digite o nome do produto">
            </div>
        </div>

        <h5 class="mt-3 text-secondary">Dados Gerais</h5>
        <hr class="mt-3 mb-3">
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="peso">Peso/Kg:</label>
                <input [(ngModel)]='produto.peso' type="number" class="form-control" name="peso" id="peso"
                    placeholder="Digite a unidade de medida">
            </div>

            <div class="form-group col-md-4">
                <label for="qtd">Qtd Estoque (unidade):</label>
                <input [(ngModel)]='produto.qtd_estoque' type="number" class="form-control" name="qtd" id="qtd"
                    placeholder="Digite a quantidade estoque">
            </div>
            <div class="form-group col-md-4">
                <label for="preco">Preço Unitário:</label>
                <input [(ngModel)]='produto.preco' type="number" class="form-control" name="preco" id="preco"
                    placeholder="Digite o preço">
            </div>

            <div class="form-group col-md-6">
                <label for="descricao">Descrição:</label>
                <input [(ngModel)]='produto.descricao' type="text" class="form-control" name="descricao" id="descricao"
                    placeholder="Digite a descrição do produto">
            </div>
            <div class="form-group col-md-6">
                <label for="foto">Link da Foto:</label>
                <input [(ngModel)]='produto.foto' type="text" class="form-control" name="foto" id="foto"
                    placeholder="Adicione o link da foto">
            </div>
            
        </div>
            <hr class="mt-3 mb-3">
               
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="nomeCategoria">Categoria</label>
                        <select name="categoria" id="nomeCategoria" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                            <option *ngFor='let item of listaCategorias' value="{{item.id}}">{{item.nome}}</option>
                            </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="setor">Setor</label>
                        <input type="text" name="setor" class="form-control" [(ngModel)]='categoria.setor' readonly>
                    </div>

                </div>

        

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-danger mr-4" routerLink='/estoque'>Cancelar</button>
            <button class="btn btn-info" (click)='atualizar()'>Atualizar</button>
        </div>

    </form>
        
    </div>
    </div>
</div>



