<div class="container-fluid mt-5">

    <div class="row d-flex justify-content-around">

        <div class="col-md-3 bg-mvv">

            <div class="col-md-12 d-flex justify-content-center mt-3">
                <img src="https://i.imgur.com/AW9jpo0.png" width="70px" height="70px" class="img-fluid " alt="ícone missão">
            </div>
            <h3 class="text-center text-white mt-3">MISSÃO</h3>

                <div class="col-md-12 d-flex justify-content-center mt-4">
                    <p class="text-white"> Proporcionar ao micro-empreendedor a possibilidade de um gerenciamento de estoque eficiente e de baixo custo,
                        utilizando-se de ferramentas tecnológicas.</p>
            </div>
        </div>

        <div class="col-md-4 bg-mvv">

            <div class="col-md-12 d-flex justify-content-center">
                <img src="https://i.imgur.com/yzDKkVB.png" width="70px" height="70px" class="img-fluid " alt="ícone visão">
            </div>

            
            <h2 class="text-center text-white mt-1">VISÃO</h2>
            <div class="col-md-12 mt-4">
                
                <p class="text-justify text-white">Mostrar ao micro-empreendedor que é possível gerir de maneira fácil e descomplicada entregando total controle 
                    sobre seu negócio.</p>
        </div>
    </div>

    <div class="col-md-3 bg-mvv">

        <div class="col-md-12 d-flex justify-content-center mt-3">
            <img src="https://i.imgur.com/OQ9WlV7.png" width="70px" height="70px" class="img-fluid " alt="ícone visão">
        </div>
        
        <h3 class="text-center text-white mt-3">VALORES</h3>

    <div class="col-md-12 mt-2">
            <p class="text-white text-center"> Profissionalismo</p>
            <p class="text-white text-center">Comprometimento</p>
            <p class="text-white text-center">Respeito</p>
            <p class="text-white text-center">Dedicação</p>
            <p class="text-white text-center">Integridade</p>
    </div>
</div>


    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 mt-2">
            <h2 class="text-center">NOSSO SQUAD</h2>
        </div>

        <div class="col-md-12 d-flex justify-content-around mt-4">

           

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Link do card</a>
                  <a href="#" class="card-link">Outro link</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Link do card</a>
                  <a href="#" class="card-link">Outro link</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Link do card</a>
                  <a href="#" class="card-link">Outro link</a>
                </div>
              </div>

           
        </div>

        <div class="col-md-12 d-flex justify-content-around mt-5">

            

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Título do card</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Link do card</a>
                      <a href="#" class="card-link">Outro link</a>
                    </div>
                  </div>
    
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Título do card</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Link do card</a>
                      <a href="#" class="card-link">Outro link</a>
                    </div>
                  </div>
    
              

        </div>
  
    </div>
</div>