<!--Carrosel-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner d-flex align-items-end">
    <div class="carousel-item active">
      <img src="../../assets/VIDEO_1.gif" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!--/Carrosel-->

<div class="col-md-12 font-bigShoulders">
  <div class="row d-flex justify-content-center bg-faixa ds-fonte-2">
      <div class="col-md-9 d-flex justify-content-center mt-1 mb-3">
          <h3 class="fs-32 mt-4 bg-faixa text-white font-weight-light">- Para que um sistema de gestão tenha sucesso, é importante a integração dos processos aliada à tecnologia,
          o apoio do suporte, o treinamento e, principalmente, o envolvimento e dedicação de toda a equipe da empresa.</h3>
      </div>
  </div>
</div>

<div class="container-fluid mt-5">

  <div class="row d-flex justify-content-around ">

      <div class="col-md-3 bg-mvv">

          <div class="col-md-12 d-flex justify-content-center mt-3">
              <img src="https://i.imgur.com/AW9jpo0.png" width="90px" height="90px" class="img-fluid " alt="ícone missão">
          </div>
          <h3 class="text-center text-white mt-3">MISSÃO</h3>

              <div class="col-md-12 d-flex justify-content-center mt-4">
                  <p class="text-justify text-white font-bigShoulders fs-28 "> Proporcionar ao micro-empreendedor a possibilidade de um gerenciamento de estoque eficiente e de baixo custo,
                      utilizando-se de ferramentas tecnológicas.</p>
          </div>
      </div>

      <div class="col-md-4 bg-mvv">

          <div class="col-md-12 d-flex justify-content-center">
              <img src="https://i.imgur.com/yzDKkVB.png" width="140px" height="140px" class="img-fluid " alt="ícone visão">
          </div>

          
          <h2 class="text-center text-white mt-1">VISÃO</h2>
          <div class="col-md-12 mt-4">
              <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                  <p class="text-justify text-white font-bigShoulders fs-32">Mostrar ao micro-empreendedor que é possível gerir de maneira fácil e descomplicada entregando total controle 
                    sobre seu negócio.</p>
                </div>
              </div>
              
      </div>
  </div>

  <div class="col-md-3 bg-mvv">

      <div class="col-md-12 d-flex justify-content-center mt-3">
          <img src="https://i.imgur.com/OQ9WlV7.png" width="90px" height="90px" class="img-fluid " alt="ícone visão">
      </div>
      
      <h3 class="text-center text-white mt-3">VALORES</h3>

      <div class="col-md-12 mt-2 font-bigShoulders">
              <p class="text-white text-center fs-28"><br>Profissionalismo<br>Comprometimento<br>Respeito<br>Dedicação<br>Integridade</p>
      </div>
  </div>


  </div>
</div>



<body>
  <section>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx"><img class="img-fluid "src="https://i.imgur.com/kB81KOu.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Lucas Barros<br><span>Desenvolvedor Full Stack jr.</span></h3>
          </div>
        </div>
      </div>
      <ul class="sci"></ul>
      <li style="--i:">
        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
    </div>
  </section>
</body>
















<!--
<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col-md-12 mt-2">
          <h2 class="text-center">NOSSO SQUAD</h2>
      </div>

      <div class="col-md-12 d-flex justify-content-around mt-4">

         

          <div class="card" style="width: 18rem;">
              <img class="card-img-top img-fluid" src="https://i.imgur.com/kB81KOu.jpg" width="100px" height="100px" alt="Foto integrante Lucas Anseloni Barros">
              <div class="card-body">
                <h5 class="card-title">Lucas Anseloni Barros</h5>
                <p class="card-text">Um exemplo de texto rápido</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://github.com/LucasAnseloni" target="_blank"><img src="https://i.imgur.com/1bUlGqN.png" width="30px" height="30px"  class="img-fluid ml-2" alt="Rede social gitHub Lucas Anseloni Barros"></a> GitHub
                  <a href="https://www.linkedin.com/in/lucasansbarros/" target="_blank"><img src="https://i.imgur.com/WVUEtj2.png" width="30px" height="30px"  class="img-fluid ml-5" alt="Rede social gitHub Lucas Anseloni Barros"></a> LinkedIn 
                </li>
              </ul>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top img-fluid" src="https://i.imgur.com/146GFas.jpg" width="100px" height="100px" alt="Foto integrante Davi Silva Vieira">
              <div class="card-body">
                <h5 class="card-title">Davi Silva Vieira</h5>
                <p class="card-text">Um exemplo de texto rápido </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://github.com/davisvieira" target="_blank"><img src="https://i.imgur.com/1bUlGqN.png" width="30px" height="30px"  class="img-fluid ml-2" alt="Rede social gitHub Davi Silva Vieira"></a> GitHub
                  <a href="https://www.linkedin.com/in/davisvieira/" target="_blank"><img src="https://i.imgur.com/WVUEtj2.png" width="30px" height="30px"  class="img-fluid ml-5" alt="Rede social gitHub Davi Silva Vieira"></a> LinkedIn
                </li>
              </ul>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top img-fluid" src="https://i.imgur.com/lYHi9g0.jpg" width="100px" height="100px" alt="Foto integrante Gabriel Sérgio Nascimento">
              <div class="card-body">
                <h5 class="card-title">Gabriel Sérgio Nascimento</h5>
                <p class="card-text">Um exemplo de texto rápido </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://github.com/nascbiel/" target="_blank"><img src="https://i.imgur.com/1bUlGqN.png" width="30px" height="30px"  class="img-fluid ml-2" alt="Rede social gitHub Gabriel Sérgio Nascimento"></a> GitHub
                  <a href="https://www.linkedin.com/in/nascbiel/" target="_blank"><img src="https://i.imgur.com/WVUEtj2.png" width="30px" height="30px"  class="img-fluid ml-5" alt="Rede social gitHub Gabriel Sérgio Nascimento"></a> LinkedIn
                </li>
              </ul>
              
            </div>

         
      </div>

      <div class="col-md-12 d-flex justify-content-around mt-5">

          

              <div class="card" style="width: 18rem;">
                  <img class="card-img-top img-fluid" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                  </ul>
                  
                </div>
  
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top img-fluid" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                  </ul>
                
                </div>
  
            

      </div>

  </div>
</div>
-->