.bg-faixa{
    background-color: #A5E1F4;
}
.bg-parallax{
    background: #D0EDFF;
}

.ds-fonte{

    color: #004C93;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-align: justify;
}
.ds-fonte-2{

    color: #004C93;
    letter-spacing: 0.05em;
    text-align: justify;
}


.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/rTyc12J.png");
  
    /* Set a specific height */
    height: 750px;
  
    /* Create the parallax scrolling effect */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
  }

.log-grafic{
  width: 220px;
  height: 160px;
}

@media (max-width: 1160px){
    .parallax{
        flex: 0 0 100%;
        max-width: 100%;
    }
 
}

@media (max-width: 1160px){
    div .responsive {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:800px){
    .ajuste{
        font-size: 14pt;
    }
}

@media(max-width:800px){
    .ajuste1{
        font-size: 14pt;
    }
}

@media(max-width:800px){
    .ajuste2{
        font-size: 18pt;
    }
}

@media(max-width:800px){
    .ajuste3{
        font-size: 14pt;
        letter-spacing: 0.0cm;
    }
}