
<div class="container mb-5 mt-5" id="postagens">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mb-5">
            <button class="btn btn-primary font-weight-bold" routerLink='/cadastro-produto' >Adicionar Produtos</button>
        </div>
    </div>

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">


            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-meusProdutos-tab" data-toggle="tab"
                href="#meusProdutos" role="tab" aria-controls="nav-meusProdutos" aria-selected="false">Meus Produtos</a>

            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-produtosCategoria-tab" data-toggle="tab"
                href="#produtosCategoria" role="tab" aria-controls="nav-produtosCategoria" aria-selected="false">Produtos por categoria</a>

        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">


        <div class="tab-pane fade mt-2" id="meusProdutos" role="tabpanel" aria-labelledby="nav-meusProdutos-tab">
            Meus Produtos
            <div class="card-group  mb-4 mt-4 col-md-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="produtosCategoria" role="tabpanel" aria-labelledby="nav-produtosCategoria-tab">

            Produtos por Categoria
        </div>

    </div>


</div>


  
  