<!--Carrosel-->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/Missão-1.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/Visão-1.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/Valores-1.png" alt="Terceiro Slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </div>
</div>

<!--/Carrosel-->

 <!--Jumbotron2-->

  <div class="jumbotron jumbotron-fluid bg-jumbotron d-flex justify-content-center">
    <div class="container">
      <p class="lead text-white font-weight-light ">- Para que um sistema de gestão tenha sucesso, é importante a integração dos processos aliada à tecnologia,
        o apoio do suporte, o treinamento e, principalmente, o envolvimento e dedicação de toda a equipe da empresa.</p>
    </div>
  </div>

 <!--/Jumbotron2-->

<!--Cards-->
<body>
  <section class="d-flex justify-content-center">
    <div class="containe">
    <div class="row">
      <div class="carde mr-5">
        <div class="contente">
          <div class="imgBx"><img src="https://i.imgur.com/kB81KOu.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Lucas Barros<br><span>Desenvolvedor Full Stack jr.</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/lucasansbarros/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://github.com/LucasAnseloni" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="carde mr-5">
        <div class="contente">
          <div class="imgBx"><img src="https://i.imgur.com/255029X.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Davi Vieira<br><span>Desenvolvedor Full Stack jr.</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/davisvieira/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://github.com/davisvieira" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="carde">
        <div class="contente">
          <div class="imgBx"><img src="https://i.imgur.com/TP4DJ7x.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Gabriel Nascimento<br><span>Desenvolvedor Full Stack jr.</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/nascbiel/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://github.com/nascbiel" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="carde mr-5">
        <div class="contente">
          <div class="imgBx"><img src="https://i.imgur.com/bVQlMB2.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Luis Felipe<br><span>Desenvolvedor Full Stack jr.</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/davisvieira/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://github.com/davisvieira" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="carde">
        <div class="contente">
          <div class="imgBx"><img src="https://i.imgur.com/gnPFeVw.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Guilherme Gonçalves<br><span>Desenvolvedor Full Stack jr.</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/guilhermegonçalvesdasilva" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://github.com/GuilhermeSilva-code" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </section>
</body>
<!--/Cards-->

