
<div class="container-fluid bg-iniciar-gerenciamento d-flex justify-content-center">
  <div class="row">
    <h4 class="text-white mt-5 mb-2">Inicie o gerenciamento do seu estoque</h4>

    <div class="col-md-5">

      <div class="d-flex justify-content-center mb-5 mt-4"><button class="btn btn-primary btn-lg col-md-12"
          routerLink='/estoque'>Iniciar Agora</button></div>

    </div>
  </div>
</div>

<div class="bg-body img-fluid d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">

        <div class="container mt-5 ">
          <div class="row d-flex align-items-center">

            <div class="col-md-5 retangulo ">
              <div class="row d-flex justify-content-center mt-2">
                <img src="https://i.imgur.com/TY0VBVN.png" width="100px" height="100px" class="img-fluid"
                  alt="Logo dagle">
              </div>

              <div class="row d-flex justify-content-center mt-5">
                <p class="text-light"> R$ 29,90 / Mês</p>

              </div>
              <div class="row mt-2 mb-2">
                <button class="btn btn-primary btn-lg col-md-9" disabled>ASSINE AGORA</button>
              </div>

              <div class="row">
                <small class="text-light">*Preço válido somente para o Brasil</small>
              </div>

            </div>

            <div class="col-md-5 retangulo">
              <div class="row d-flex justify-content-center mt-2">
                <img src="https://i.imgur.com/TY0VBVN.png" width="100px" height="100px" class="img-fluid"
                  alt="Logo dagle">
              </div>

              <div class="row d-flex justify-content-center mt-5">
                <p class="text-light"> R$ 29,90 / Mês</p>

              </div>
              <div class="row mt-2 mb-2">
                <button class="btn btn-primary btn-lg col-md-9" disabled>ASSINE AGORA</button>
              </div>

              <div class="row">
                <small class="text-light">*Preço válido somente para o Brasil</small>
              </div>


            </div>
          </div>


        </div>
      </div>

    </div>

  </div>
</div> 