


<div class="container-fluid">
    <div class="row">
        <div><img src="https://imageshack.com/i/pnNYJFTSp" alt="" class="img-fluid"></div>
        <div><img src="https://imageshack.com/i/pn825p8Rg" alt="Gif Dagle" class="img-fluid"></div>
    </div>
    
       

</div>

<div class="container-fluid ">
    
        <div class="row ">
            <div class="col-md-12 bg-info ">
                <div class="row d-flex justify-content-center bg-faixa color-fonte">
                    <div class="col-md-9 d-flex justify-content-center mt-1 mb-3 color-fonte">
                        <h3 class="  d-flex  fs-14 mt-4 bg-faixa mb-3">- Para que um sistema de gestão tenha sucesso, é importante a integração dos processos aliada à tecnologia,
                            o apoio do suporte, o treinamento e, principalmente, o envolvimento e dedicação de toda a equipe da empresa.</h3>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="row d-flex justify-content-center bg-info ">
            <div class="col-md-7">
                <h1 class="text-center">DAGLE</h1>
                <p>
                    Com metas e expectativas definidas, sua equipe de vendas está preparada para fechar negócios que se alinham ao crescimento da sua empresa. E se a sua estratégia de crescimento está focada em novos mercados ou upselling para uma base de clientes existente, nossa plataforma de gerenciamento é desenhada para enfrentar esses desafios.
                </p>
                    <h5 class="text-center">• Fortaleça o crescimento estratégico.</h5>
                    <h5 class="text-center">• Aumente a produtividade de vendas.</h5> 
                    <h5 class="text-center">• Ganhe e cresça com seus clientes.</h5>

            </div>


            <div class="col-md-5 parallax">
                <div><img src="" alt="" class="img-fluid"></div>
            </div>        
           
        </div>
    
</div>





           
    