
.bg-faixa{
    background-color: #A5E1F4;
}
.bg-parallax{
    background: #D0EDFF;
}

.ds-fonte{

    color: #004C93;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-align: justify;
}
.ds-fonte-2{

    color: #004C93;
    letter-spacing: 0.05em;
    text-align: justify;
}


.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/rTyc12J.png");
  
    /* Set a specific height */
    height: 900px;
  
    /* Create the parallax scrolling effect */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
  }


.sobreposicao {
    display:inline-block;
    position:relative;
}
.sobreposicao button {
    position:absolute;
    top:77%;
    left:54%;
    height: 75px;
    width: 180px;
}


.botao {
    border-color: #004C93;
    border-radius: 0;
    color: #004C93;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    font-size: 37px;
  }
  .botao:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 101%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
            
    width: 0;
    height: 100%;   
    background: #004C93;
    z-index: -1;
    -webkit-transition: width 600ms ease-in-out;
    transition: width 600ms ease-in-out;
  }
  .botao:hover {
    -webkit-transition-duration: 700ms;    
    color: #fff;
  }
  .botao:hover:after {
    width: 110%;
  }

  