


<div class="container-fluid">
    <div class="row">
        <div class="img-bg"><img src="https://imageshack.com/i/pnNYJFTSp" alt="" class="img-fluid"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
            <img src="https://imageshack.com/i/pn825p8Rg" alt="Gif Dagle" class="img-fluid">
    </div>
</div>

<div class="container mt-2 mb-2">
    <div class="row">
        <div class="col-md-12 bg-info">
            <h3 class="text-center text-white ">- Para que um sistema de gestão tenha sucesso, é importante a integração dos processos aliada à tecnologia,
                o apoio do suporte, o treinamento e, principalmente, o envolvimento e dedicação de toda a equipe da empresa.</h3>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col-md-7">
            <div class="row">

            </div>

            <div class="row d-flex justify-content-center bg-info ">
                <h1 class="text-center">DAGLE</h1>
                <p>
                    Com metas e expectativas definidas, sua equipe de vendas está preparada para fechar negócios que se alinham ao crescimento da sua empresa. E se a sua estratégia de crescimento está focada em novos mercados ou upselling para uma base de clientes existente, nossa plataforma de gerenciamento é desenhada para enfrentar esses desafios.
                </p>
                <p class="text-center">• Fortaleça o crescimento estratégico. </p>
                    <p>• Aumente a produtividade de vendas.</p>
                    <p>• Ganhe e cresça com seus clientes.</p>
                    
               
            </div>
        </div>

    </div>
</div>

