
<footer class="page-footer font-small pt-4">

    <div class="container-fluid bg-color">
        <div class="row col-md-12 d-flex justify-content-center align-items-center">
            <h5 class="text-primary text-center">
                Cadastre-se na lista de e-mails do DAGLE para obter todas as atualizações mais recentes sobre o nosso projeto.
            </h5>
        </div>
    </div>
    
  
    <img src="https://imageshack.com/i/pmgINDFrp" class="img-fluid" alt="Rodape Dagle">

        <div class="container-fluid bg-dark">
        <div class="row d-flex justify-content-center">
           
                <div class="footer-copyright text-center py-3"> 
                    <span class="text-white"> © Copyright 2020-2021 Copyright.com.br - All Rights Reserved Dagle </span>
                </div>
           
        </div>
    </div>
   
</footer>

