.bg-faixa{
    background-color: #288ccf;
}
.fs-28{
    font-size: 28px;
}

/*Cards*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1381ca;
    min-height: 100vh;
}
section{
    position: relative;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.containe{
    
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0; 
}
.containe .carde{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0,05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.containe .carde .contente{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.containe .carde:hover .contente{
    opacity: 1;
    transform: translateY(-20px);
}
.containe .carde .contente .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.containe .carde .contente .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containe .carde .contente .contentBx h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.containe .carde .contente .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;

}
.containe .carde .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.containe .carde .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translatey(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.containe .carde:hover .sci li{
    transform: translatey(0px);
    opacity: 1;
}


.containe .carde .sci li a{
  color: white;
  font-size: 24px;
}